<!DOCTYPE HTML>
<html>

<head>
    <title>Dictation web site</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/dashlite.css?ver=2.4.0">
</head>


<body class="nk-body npc-default pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">