<!DOCTYPE html>
<html lang="uz" class="js">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="author" content="SardorBek Sattarov">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@@page-discription">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/assets/images/ourlogo.png">
    <!-- Page Title  -->
    <title>Dictation - Admin</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./assets/css/dashboard.min.css">
</head>