<div class="nk-sidebar nk-sidebar-short nk-sidebar-fixed is-light" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="/admin" class="logo-link nk-sidebar-logo">
                <img class="logo-img" src="./assets/images/logo.png" srcset="./assets/images/logo.png 2x"
                     alt="logo">
            </a>
            <a href="/admin" class="logo-link nk-sidebar-logo-small">
                <img class="logo-img" src="./assets/images/ourlogo.png" srcset="./assets/images/ourlogo.png 2x"
                     alt="logo">
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                        class="icon ni ni-arrow-left"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-body" data-simplebar>
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-menu nk-sidebar-menu-middle">
                    <!-- Menu -->
                    <ul class="nk-menu short-menu">
                        <li class="nk-menu-item">
                            <a href="/admin/home" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-notify"></em></span>
                                <span class="nk-menu-text">Dashboard</span>
                                <span class="nk-menu-tooltip" title="Dashboard"></span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/admin/dictation" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-layers"></em></span>
                                <span class="nk-menu-text">Dictation</span>
                                <span class="nk-menu-tooltip" title="Dictation"></span>
                            </a>
                        </li>
                        <li class="nk-menu-item">
                            <a href="/admin/logout" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-user-remove-fill"></em></span>
                                <span class="nk-menu-text">Logout</span>
                                <span class="nk-menu-tooltip" title="Logout"></span>
                            </a>
                        </li>
                    </ul><!-- .nk-menu -->
                </div><!-- .nk-sidebar-menu -->
                <div class="nk-sidebar-footer d-none d-md-block">
                </div><!-- .nk-sidebar-footer -->
            </div><!-- .nk-sidebar-contnet -->
        </div><!-- .nk-sidebar-body -->
    </div><!-- .nk-sidebar-element -->
</div>