<%- include('includes/head.ejs') %>
    <div class="brand-logo pb-4 text-center">
        <a href="/" class="logo-link">
            <img class="logo-light logo-img logo-img-lg" src="./assets/images/logo.png" srcset="./images/logo2x.png 2x"
                alt="logo">
        </a>
    </div>
    <div class="card card-bordered">
        <div class="card-inner card-inner-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 style="text-align: center" class="nk-block-title"> <% if(score==5 || score == 4) { %> Siz buni uddaladingiz! <% } else if(score==3) { %> Qoniqarli topshirdingiz! <% } else { %> Afsus, kelasi safar urunib ko'ring! <% } %>  </h4>
                    <div class="nk-block-des">
                        <h5 style="text-align: center" id="finalScore"> Sizning bahongiz <%= score %></h5>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <form action="/home" method="get">
                    <input type="hidden" name="start" value="true">
                    <button class="btn btn-lg btn-primary btn-block" id="newTestButton">Orqaga qaytish</button>
                </form>

            </div>
            <!-- </form> -->
        </div>
    </div>
    <%- include('includes/footer.ejs') %>