<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dictation</title>
    <meta name="description" content="Dictation text." />
    <meta name="keywords" content="text, Dictation" />
    <meta name="author" content="ThemesBoss" />

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="#">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />

    <!-- Pe-icon-7 icon -->
    <link rel="stylesheet" type="text/css" href="/assets/css/pe-icon-7-stroke.css">

    <!-- Tiny Slider -->
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/tiny-slider.css">

    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
<!-- Start Navbar -->
<nav class="navbar navbar-expand-lg custom-nav navbar-light fixed-top sticky">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img src="/assets/assets/images/logo.png" alt="" class="img-fluid logo-dark">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" id="main_nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/dic">Diktant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testlar</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Mashqlar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->


<!-- Start Section Divider -->
<section class="sec_divider mx-auto"></section>
<!-- End Section Divider -->

<!-- Start Features -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sec_main_head_title mx-auto text-center">
                    <h2 class=""><span></span>Ona tili</h2>
                    <p class="text-muted mt-3 mx-auto">Ona tilidan o'z bilimingizni sinab ko'ring.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-lg-6">
                <div class="content_features mx-auto mt-3">
<!--                    <p class="content_small_title mb-0 text-uppercase"><span></span>Perfact Design</p>-->
                    <h3 class="content_main_title mb-0 mt-4">Yangicha ta'lim</h3>
                    <p class="text-muted mt-4">Boshlang‘ich sinf o‘quvchilar kompetensiyasini shakllantirish va rivojlantirishda INNOVATSION TEXNOLOGIYALARdan foydalanish</p>
                    <div class="mt-4 pt-3">
                        <a href="#" class="btn btn-custom btn-rounded">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="side_img_content mt-3">
                    <img src="/assets/images/features-one.png" alt="com" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
        <div class="features_divider"></div>
        <div class="row mt-3 align-items-center">
<!--            <div class="col-lg-6">-->
<!--                <div class="side_img_content mt-3">-->
<!--                    <img src="/assets/images/features-two.png" alt="com" class="img-fluid mx-auto d-block">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6">-->
<!--                <div class="content_features mx-auto mt-3">-->
<!--                    <p class="content_small_title mb-0 text-uppercase"><span></span>User Interface</p>-->
<!--                    <h3 class="content_main_title mb-0 mt-4">Unlimited features awaiting for you.</h3>-->
<!--                    <p class="text-muted mt-4">Create custom landing pages with Landik that converts more visitors than any website. With lots of unique blocks, you can easily build a page without coding.</p>-->
<!--                    <div class="mt-4 pt-3">-->
<!--                        <a href="#" class="btn btn-custom btn-rounded">Explore</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!-- End Features -->

<!-- Start Logo -->
<section class="section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="client_logo mt-3">
                    <img src="https://buxdu.uz/static/images/logo/logo_uz.png" alt="BUXDU" width="150px" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="client_logo mt-3">
                    <img src="/assets/images/logo.png" alt="Cyclone team" width="150px" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Logo -->

<!--&lt;!&ndash; Start Contact &ndash;&gt;-->
<!--<section class="section bg-custom">-->
<!--    <div class="curv_top">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">-->
<!--            <path fill="#fff" d="M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z"></path>-->
<!--        </svg>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="sec_main_head_title_bg pb-5 mx-auto text-center">-->
<!--                    <h2><span></span>Contact our team</h2>-->
<!--                    <p class="mt-3 mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eum modi, adipisci facilis.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; End Contact &ndash;&gt;-->

<!--&lt;!&ndash; Start Contact Form &ndash;&gt;-->
<!--<section class="contact_sec" id="contact">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <div class="contact_form mx-auto p-4">-->
<!--                    <form>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="form-group mt-3">-->
<!--                                    <label>Name</label>-->
<!--                                    <input name="name" type="text" class="form-control" placeholder="Your name..." required="" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="form-group mt-3">-->
<!--                                    <label>Email address</label>-->
<!--                                    <input name="email" type="email" class="form-control" placeholder="Your email..." required="" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-12">-->
<!--                                <div class="form-group mt-3">-->
<!--                                    <label>Subject</label>-->
<!--                                    <input type="text" class="form-control" placeholder="Your Subject.." required="" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <div class="form-group mt-3">-->
<!--                                    <label>Message</label>-->
<!--                                    <textarea name="comments" rows="4" class="form-control" placeholder="Your message..." required=""></textarea>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12 mt-4 text-end">-->
<!--                                <input type="submit" class="btn btn-custom" value="Send Message" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; End Contact Form &ndash;&gt;-->

<!--&lt;!&ndash; Start Contact Detail &ndash;&gt;-->
<!--<section class="section contact_detail_bg">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4">-->
<!--                <div class="contact_detail mt-3 text-center">-->
<!--                    <div class="contact_icon">-->
<!--                        <i class="mdi mdi-email"></i>-->
<!--                    </div>-->
<!--                    <div class="contact_name mt-3">-->
<!--                        <h5 class="fw-bold mb-2">Email</h5>-->
<!--                        <p class="text-muted">info@site.uz</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="contact_detail mt-3 text-center">-->
<!--                    <div class="contact_icon">-->
<!--                        <i class="mdi mdi-phone"></i>-->
<!--                    </div>-->
<!--                    <div class="contact_name mt-3">-->
<!--                        <h5 class="fw-bold mb-2">Telephone</h5>-->
<!--                        <p class="text-muted">+(998) 90 998 98 98</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="contact_detail mt-3 text-center">-->
<!--                    <div class="contact_icon">-->
<!--                        <i class="mdi mdi-watch"></i>-->
<!--                    </div>-->
<!--                    <div class="contact_name mt-3">-->
<!--                        <h5 class="fw-bold mb-2">Business Hours</h5>-->
<!--                        <p class="text-muted mb-0">Monday To Friday</p>-->
<!--                        <p class="text-muted">9:00am To 6:00pm (GMT)</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; End Contact Detail &ndash;&gt;-->

<div class="footer_main_divider"></div>

<!-- Start Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer_logo mt-3">
                    <img src="/assets/images/logo.png" alt="logo-dark" class="img-fluid d-block">
                    <p class="text-muted mt-4">2022 © Cyclone Team.</p>
                    <h5 class="fw-bold mt-4">Follow Us</h5>
                    <ul class="list-inline fot_social mt-4">
                        <li class="list-inline-item"><a href="#" class="social-icon"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-icon"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-icon"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-icon"><i class="mdi mdi-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer_menu mt-3">
                    <h5 class="fw-bold">Science</h5>
                    <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                        <li><a href="#">Physics</a></li>
                        <li><a href="#">Math</a></li>
                        <li><a href="#">Mother tongue</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer_menu mt-3">
                    <h5 class="fw-bold">Services</h5>
                    <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                        <li><a href="#">Dictation</a></li>
                        <li><a href="#">Math calculator</a></li>
                        <li><a href="#">Physics calculator</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer_menu mt-3">
                    <h5 class="fw-bold">More</h5>
                    <ul class="list-unstyled footer_menu_list mb-0 mt-4">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Information</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a href="#" class="back_top"><i class="pe-7s-angle-up"></i></a>

<!--All Javascript -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.min.js"></script>

<!-- Tiny Slider Js -->
<script src="/assets/js/tiny-slider.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/counter.js"></script>
</body>

</html>