<%- include('includes/head.ejs') %>

    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
        <div class="brand-logo pb-4 text-center">
            <a href="/" class="logo-link">
                <img class="logo-light logo-img logo-img-lg" src="./assets/images/logo.png"
                    srcset="./images/logo2x.png 2x" alt="logo">
            </a>
        </div>
        <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Tayyormisiz?</h4>
                        <div class="nk-block-des">
                            <p>Quyidagi turlardan birini tanlang. Biz bilan tezroq yozing!</p>
                        </div>
                    </div>
                </div>
                <form action="/home/play" method="get">
                <div class="form-group">

                    <input hidden name="uname" value="<%= user %>" type="text" class="form-control form-control-lg" id="name" placeholder="Enter your username">
                </div>

                <div class="form-group">
                    <label class="form-label">Tanlov</label>
                    <div class="form-control-wrap">
                        <ul class="custom-control-group g-3 align-center flex-wrap">
                            <li>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" checked="" name="check"
                                        value="text" id="action_text">
                                    <label class="custom-control-label" for="action_text">Text</label>
                                </div>
                            </li>
                            <li>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input"
                                        name="check" value="audio" id="action_audio">
                                    <label class="custom-control-label" for="action_audio">Audio</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" 
                        id="startButton">Ready</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('includes/footer.ejs') %>